*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/androidApp/build
/composeApp/build
/llama/build
/libs/llama.cpp
*.apk
*.aar
*.so
*.hprof
*.aab
*.gguf
xcuserdata/
*.xcuserstate
google-services.json
